#sideNavbar {
  width: 120px;
  background-color: #fae151;
}

#main {
  margin-left: 120px;
  background-color: #fae151;
}

@media (max-width: 600px) {
  #sideNavbar {
    width: 0px;
  }
  #main {
    margin-left: 0px;
  }
}

/* span.TypedCursor {
  animation: blink 1s infinite;
}

span.TypedCursor.typing {
  animation: none;
} */

.hero-image {
  background-image: url(./../images/coverPhoto.JPG);
  min-height: 100%;
  min-width: 100%;
  background-size: cover;
}

h2,
p {
  margin: 0px;
  padding: 10px;
}

#about {
  background-color: #689fda;
}

#portfolio {
  background-color: #9eccf6;
}

#education {
  background-color: #5d829f;
}

#contact {
  background-color: #2d4f78;
}
