#sideNavbar {
  width: 150px;
  background-color: #fae151;
}

#topNavbar {
  height: 38px;
  background-color: #fae151;
}

#sectionsCardContent {
  background-color: rgba(250, 225, 81, 0.5);
  z-index: 100;
}

#myIcon {
  margin: 10px 10px 20px 10px;
  vertical-align: middle;
}

#main {
  margin-left: 150px;
  background-color: #fae151;
}

@media (max-width: 600px) {
  #sideNavbar {
    width: 0px;
  }
  #main {
    margin-top: 38px;
    margin-left: 0px;
  }
}

.typedCursor {
  animation: blinkCursor 0.8s steps(2) infinite normal;
}

@keyframes blinkCursor {
  from {
    color: #fae151;
  }
  to {
    color: transparent;
    text-shadow: none;
  }
}

.typedCursor.typing {
  animation: none;
}

.hero-image {
  background-image: url(./../images/coverPhoto.JPG);
  min-height: 100%;
  min-width: 100%;
  background-size: cover;
}

.hero-text {
  color: #fae151;
  text-align: center;
}

#myName {
  font-family: "Satisfy", cursive;
  font-size: 8vw;
  text-shadow: 5px 5px 0 black;
}

#iAmA {
  font-family: "Acme", sans-serif;
  font-size: 4vw;
  text-shadow: 3px 3px 0 black;
}

h2,
p {
  margin: 0px;
  padding: 10px;
}

p {
  font-family: "Courgette", sans-serif;
}

.sectionTitle {
  text-align: center;
  padding-top: 38px;
  font-family: "Merienda", sans-serif;
}

hr {
  width: 50%;
  margin: auto;
  background-color: #fae151;
  height: 1px;
  border: none;
}

#about {
  background-color: #689fda;
}

#portfolio {
  background-color: #9eccf6;
}

#education {
  background-color: #5d829f;
}

#contact {
  background-color: #2d4f78;
}

#logoContact {
  text-align: center;
  margin-top: 20px;
}

.logoContactImg {
  width: 250px;
  height: 250px;
  margin: 20px;
}

.projectCard {
  background-color: rgba(250, 225, 81, 0.75);
  padding: 10px;
  margin: 10px;
}

.workExpTitle {
  font-family: "Kaushan Script", cursive, Helvetica, Arial, sans-serif;
}
