#sideNavbar {
  width: 120px;
  background-color: #fae151;
}

#main {
  margin-left: 120px;
}

@media (max-width: 600px) {
  #sideNavbar {
    width: 0px;
  }
  #main {
    margin-left: 0px;
  }
}

/* span.TypedCursor {
  animation: blink 1s infinite;
}

span.TypedCursor.typing {
  animation: none;
} */

.hero-image {
  background-image: url(./../images/coverPhoto.JPG);
  min-height: 100%;
  min-width: 100%;
  background-size: cover;
}
